#fila1,#fila2{
    height: 50vh;
}

#fila1{
    background-color: antiquewhite;
}

#fila2{
    background-color: aquamarine;
}

#col2{
    background-color: blueviolet;
}

nav{
background-color: #85d4b7;
color: white;

}
.nav-link{
    color: white;
}
#main{
    background-color: #6dccaa;
    width: 100%;
    height: 800px;
    
}


footer{
    background-color: #6dccaa;
    color: white;
    text-align: left;
    width: 100%;
    height: 130px;
    padding-top: 60px;
    padding-left: 10px;

}


#coaching{
    padding-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 800px;
    background-color: white;
    color: black;
}

#garlick{
    height: 30vw;
    width: 30vw;
}

#coaching_texto{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
   
    
}
#textotexto1 #textotexto2{
    max-width: 50%;
    max-height: 50%;
}
#EETCAFE{
    background: #ffcf3f url(../img/eetcafe.jpg) center no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
}


