
img{
    max-width: 100%;
    max-height: 100%;
}
.wf{
    max-height: 7000px;
    outline: 1px #333;
}
.leer{
padding-bottom: 20px;
}
nav{
    background-color: #e1f476;


}
.formulario{
    
    background-color: #d7ebcf;
    padding-top: 60px;
    padding-bottom: 40px;

}
.btn-primary {
    color: #fff;
    background-color: #4f9ee8;
    border-color: #4f9ee8;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d7ebcf;
    border-color:#d7ebcf ;
}