#header{
    background-color: #F7AE00;
    color: #FFF;
}
#navbarNav{
    background-color: #004B85;

}
#nabbar{
    background-color: #004B85;

}
.nav{
    background-color: #004B85;

}
#combo{
    background-color: #D60019;
}
